.app {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1em;
}

.pokemon-wrapper {
  padding: 1em;
  border: 1px solid black;
  text-align: center;
}

.page-numbers-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prev-next-wrapper {

}